body{
    margin : 0;
    font-family: sans-serif;
    text-decoration: none;
    
}

header{
    background-color: #7ed486;
    size: 100px
}

.contenedor{
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
}

.header-title{
    color: white;
    font-size: x-large;
    
}

main{
    margin: 0 200px;
}

main > div{
    margin: 20px 0;
}

.header-nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.header-nav > ul > li > a{
    color:white;
}

.post2{
    background-color: #f5f7d3;
}

footer{
    position: relative;
    height: 100px;
    margin-top: 10px;
    background-color: #332121;
}

.links > ul{
    color: green;
}

.about{
    color: white;
}

a:link, a:visited, a:active, a:focus, a:hover, a {
    text-decoration:none;
    color: inherit;
}